---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">About Me</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				Hi, I'm Felipe, a passionate Information Technology Security student. My journey in this field began with a deep curiosity to understand how systems work, not just superficially, but by delving into their deepest foundations.

Currently, I'm immersed in the fascinating world of Pentesting (Penetration Testing). For me, pentesting isn't just a technical discipline; it's a mindset. It's the ability to "think like the adversary" to identify and understand vulnerabilities before they can be exploited by malicious actors.
			</p>
			<p>
			My Philosophy: Dismantle to Build Better
I've always believed that to protect something effectively, you must first understand how it could be attacked. It's like an engineer testing a bridge's strength to its limit, not to destroy it, but to ensure it's unbreakable. My approach in every lab, CTF, or case study is precisely that: to hypothetically dismantle a system to understand its weaknesses and, ultimately, learn how to build more robust and resilient defenses.

This blog is my personal space to document my progress, share my learnings and reflections. Here you'll find my explorations in:

Vulnerability Analysis: From detection to controlled exploitation.

Ethical Hacking Techniques: My experiences with different methodologies and tools.

Automation and Scripting: How programming (Python, Bash) can enhance security efficiency.

CTF and Write-up Solving: My process for unraveling complex challenges and applying creative solutions.
			</p>
			<p>
				I am a firm believer in continuous learning and the power of community. I am always open to new ideas, challenges, and constructive discussions. My goal is not only to master the tools and techniques but also to develop critical thinking and an ethical perspective that will allow me to contribute positively to the vast and ever-changing cybersecurity ecosystem.

Thank you for joining me on this journey. I hope you find this space as informative and engaging as I do. The exploration continues!
			</p>

		</div>
	</section>
</BaseLayout>
